/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  color: rgb(85, 85, 85);
  font-size: 1.5rem;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: #006d77;
}

a:hover {
  color: #006d77;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #006d77;
}

h1 {
  color: #006d77;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}
/* HEADER */

#container {
  /* border: 0.5rem solid red; */
}

/* OPENING SECTION */

.opening_section {
  /* border: 1rem solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.title__project {
  font-size: 5rem;
  color: #006d77;
}

.htwo {
  color: #006d77;
}

/* MOCKUP SECTION */

img {
  width: 350px;
}

#mockup {
  /* border: 1rem solid blue; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

/* TIMELINE SECTION */

.timeline {
  /* border: 1rem solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scale: 1.8;
  margin-top: 5rem;
}

/* RESEARCH SECTION */

.body_section {
  /* border: 1rem solid blue; */
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htwo {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.p1 {
  margin-top: 1rem;
  font-size: 1.2rem;
  max-width: 75ch;
}



/* add margin-top */



.reserch {
  /* border: 1rem solid blue; */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.method {
  /* border: 1rem solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  /* border: 1rem solid blue; */
  background-color: #2d4a6c;
  border-radius: 1rem;
  color: #efefef;
  font-size: 2rem;
  padding: 1em;
}

.btn-1 {
  /* border: 1rem solid blue; */
  background-color: #2d4a6c;
  border-radius: 1rem;
  color: #efefef;
  font-size: 2rem;
  padding: 1em;
  margin-left: 5rem;
}

.research {
  /* border: 1rem solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 15rem;
  scale: 5.1;
}

.research2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17.5rem;
  margin-bottom: 28rem;
  scale: 5;
  z-index: 1;
}

.gg {
  margin-top: 11rem;
}

.color {
  scale: 2;
  margin-top: 50rem;
}

.method {
  margin-top: 5rem;
}

.ab {
margin-left: 30rem;

}

.alex-pic {
  border: 1rem solid blue;
  margin-top: 4rem;

  margin-bottom: 5rem;

  scale: 1.5;
}

research33 {
  /* border: 1rem solid blue; */
  margin-top: 4rem;
  display: flex;
  margin-left: 17rem;
  margin-bottom: 5rem;
  justify-content: center;
  scale: 1.5;
}

.w {
  margin-top: -14rem;
}


.cont-alex {
  display: flex;
  justify-content: center;
}


.alex {
  /* border: 1rem solid blue; */
  scale: 1;
  margin-top: 18rem;
}

#ideating {
  margin-top: 10rem;
}

.idea {
  margin-right: 75rem;
}

.userflow {
  scale: 5.1;
  margin-top: 23rem;
  margin-bottom: 3rem;
}

.three {
  margin-top: 5rem;
}

.four {
  margin-top: 10rem;
  margin-right: 72rem;
  margin-bottom: 4rem;
}

.ok {
  margin-top: -1rem;
}

.tasktext {
  margin-top: 5rem;
}

.lowfid {
  margin-top: 10rem;
}

.tasktexttwo {
  margin-top: 3rem;
}

.usertwo {
  margin-top: 35rem;
}

.five {
  /* border: 1rem solid blue; */
  justify-content: start;
  margin-top: 7rem;
  margin-right: 71rem;
}

.lowone {
  scale: 3;
  margin-top: 15rem;
}

.lowtwo {
  scale: 1;
  margin-top: 5rem;
  margin-right: 43.8rem;
}

.lowthree {
  scale: 2;
  margin-top: -10.7rem;
  margin-left: 22rem;
}

.btn-container {
  /* border: 2rem solid blue; */
  width: 100vw;
  margin-top: 50rem;
  display: flex;
  justify-content: center;
}

.screen {
  border: 2rem solid blue;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5rem;
}

.feedback {
  margin-top: 3rem;
}

.onboard {
  scale: 2;
  margin-bottom: 21rem;
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 10rem;
}

.seven {
}



.finalpro {
  display: none;
}
.signup {
  width: 45rem;
}


.tasl {
  margin-top: 5rem;        
} 


.yay {
  margin-top: 5rem;
  margin-left: 5rem;
  color: #006d77;
}